.footer_container {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    font-weight: 600;
}

.footer_dev a {
    color: #9600ff;
    text-decoration: none;
    padding-right: 11.5rem;
}

@media only screen and (max-width: 768px) {
    .footer_container {
        padding: 2rem 1rem; 
        flex-direction: column;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
    }

    .footer_dev a {
        padding: 0.5rem 0;
    }
}

@media only screen and (max-width: 685px) {
    .footer_container {
        font-size: 14px;
    }
}