.background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.697);
    /* background-color: #000000cc; */
  }

button:hover, a:hover {
    scale: 1.1;
    transition: all 450ms ease-in-out;
    opacity: 0.9;
}

.home_container {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.home_container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 16rem;
    padding-top: 2rem;
}

.title_desc {
    font-size: 2rem;
    text-align: center;
    max-width: 900px;
    padding-bottom: 50px;
    height: auto;
}

.title_p {
    padding-top: 1rem;
}

.vid_container {
    box-shadow: -1px 1px 46px 3px #F00;
}

.home_btn {
    padding: 0.7rem;
    border-radius: 3rem;
    border: none;
    background: linear-gradient(90deg, #FF002A 0.3%, #9600FF 100%);
    width: 28rem;
    margin: 5rem auto;
}

.home_btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
}

iframe {
    max-width: 800px;
}

@media (max-width: 1200px) {
    .background {
        height: 110vh;
    }

    .overlay {
        height: 110vh;
    }
}

@media only screen and (max-width: 768px) {
    .background {
        height: 100vh;
    }

    .overlay {
        height: 100vh;
    }

    .home_container-two {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 550px;
    }

    .title_container {
        text-align: center;
        margin-bottom: 2rem;
        max-width: 440px;
    }

    .title_desc {
        font-size: 24px;
        max-width: 410px;
        margin: auto;
        padding-bottom: 16px;
    }

    .vid_container {
        box-shadow: -1px 1px 46px 3px #F00;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    iframe {
        max-width: 380px;
        max-height: 300px;
    }

    .home_btn {
        width: 50%;
        margin: 2rem auto
    }
}

@media only screen and (max-width: 685px) {
    .home_container-two {
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        justify-content: center;
    }

    .title_desc {
        font-size: 20px;
        max-width: 320px;
        padding-bottom: 0;
    }
    
    .title_p {
        font-size: 14px;
    }

    iframe {
        max-width: 320px;
        height: 250px;
    }

    .vid_container {
        box-shadow: -1px 1px 20px 3px #F00;
    }

    .home_btn {
        width: 80%;
        padding: 8px 12px;
    }

    .home_btn a {
        font-size: 16px;
    }
}