.conclude{
    background-color: #fff;
    padding: 24px 0;
}

.conc_container {
    width: 900px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.conc_title {
    font-weight: 800;
    padding-bottom: 32px;
    font-size: 32px;
}

.conc_li {
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 20px;
}

.conc_p {
    padding-bottom: 24px;
    font-size: 18px;
}

.conc_btn {
    padding: 0.7rem;
    border-radius: 3rem;
    border: none;
    background: linear-gradient(90deg, #FF002A 0.3%, #9600FF 100%);
    width: 28rem;
    margin: 1rem auto;
}

.conc_btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

.text-red {
    color: #FF002A;
    font-weight: 800;
}

.text-purple {
    color: #9600FF;
    font-weight: 800;
}

@media (max-width: 768px) {
    .conc_container {
        width: 390px;
        text-align: center;
    }
    
    .conc_title {
        font-size: 24px;
    }

    .conc_li {
        font-size: 16px;
    }

    .conc_p {
        font-size: 14px;
    }

    .conc_btn {
        width: 100%;
    }
}

@media (max-width: 675px) {
    
    .conc_container {
        width: 280px;
        text-align: center;
    }
    
    .conc_title {
        font-size: 16px;
    }

    .conc_li {
        font-size: 12px;
    }

    .conc_p {
        font-size: 10px;
    }

    .conc_btn {
        width: 90%;
        padding: 8px;
    }

    .conc_btn a {
        font-size: 12px;
    }
}