.img_1{
    width: 479px;
    height: 395px;
    margin-top: 3rem;
}

.img_2{
    width: 469px;
    height: 422px;
    margin-top: 6rem;
}

.red-text {
    color: #F00;
}

.purple-text {
    color: #9600FF;
}

.title_mediagrowth {
    font-size: 32px;
    font-weight: 700;
}

.metrics_title {
    color: #fff;
    text-align: center;
    font-size: 36px;
}

.container {
    background-color: #000;
}

.metrics_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    color:#fff;
    padding-bottom: 30px;
    width: 80rem;
    margin: auto;
}

.results1_container,
.results2_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.img_results1 {
    box-shadow: -2px 1px 46px 2px #F00;
}

.img_results2 {
    box-shadow: -2px 1px 46px 2px #9600FF;
}

@media screen and (max-width: 768px) {
    .img_1 {
        width: 50%; 
        height: auto; 
        margin-top: 2rem;
    }

    .img_2 {
        width: 50%;
        height: auto;
        margin-top: 4rem;
    }

    .title_mediagrowth {
        font-size: 24px;
    }
    
    .metrics_container {
        flex-direction: column; 
        text-align: center; 
        width: 100%;
    }

    .results1_container,
    .results2_container {
        padding-top: 2rem;
    }

    .metrics_title {
        font-size: 24px;
    }
}

@media screen and (max-width: 685px) {
    .title_mediagrowth {
        font-size: 16px;
    }

    .metrics_title {
        font-size: 16px;
    }
    
    .results1_container {
        padding-top: 16px;
     }
}