li {
    list-style-type: disc;
}

.services {
    background-color: #000;
    color: #fff;
    margin: 24px;
}

.serv_container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.serv_title {
    font-size: 28px;
    padding-bottom: 24px;
}

.serv_p {
    padding-bottom: 12px;
    font-size: 20px;
    text-align: center;
}

.serv_list {
    padding-bottom: 16px;
}

.serv_list-title{
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 800;
    font-size: 20px;
}

.serv_li {
    padding-bottom: 12px;
}

.serv-span {
    font-weight: 700;
    color: #9600ff;
}

.serv-span-two {
    font-weight: 800;
}

.serv_btn {
    padding: 0.7rem;
    border-radius: 3rem;
    border: none;
    background: linear-gradient(90deg, #FF002A 0.3%, #9600FF 100%);
    width: 70%;
    margin: 2rem auto;
}

.serv_btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .serv_container {
        width: 390px;
    }

    .serv_title {
        font-size: 24px;
        padding-bottom: 12px; 
    }

    .serv_p {
        font-size: 16px; 
    }

    .serv_list-title {
        font-size: 16px; 
    }

    .serv_li {
        padding-bottom: 6px; 
    }

    .serv_btn {
        width: 80%;
    }
}

@media only screen and (max-width: 675px) {
    .serv_container {
        width: 280px;
    }

    .serv_title {
        font-size: 18px;
        padding-bottom: 12px; 
    }

    .serv_p {
        font-size: 14px; 
    }

    .serv_list-title {
        font-size: 14px; 
    }

    .serv_li {
        font-size: 12px;
        padding-bottom: 6px; 
    }

    .serv_btn {
        width: 90%;
        padding: 6px;
        margin: 1rem auto;
    }

    .serv_btn a {
        font-size: 12px;
    }
}